rounded-mgenplus-1mn-bold.ttf	Mgen+ Rounded Bold
rounded-mgenplus-1mn-light.ttf	Mgen+ Rounded Light
rounded-mgenplus-1mn-medium.ttf	Mgen+ Rounded Medium
rounded-mgenplus-1mn-regular.ttf	Mgen+ Rounded Regular
rounded-mgenplus-1mn-thin.ttf	Mgen+ Rounded Thin
NasuM-Bold-20141215.ttf	NasuM Bold
NasuM-Regular-20141215.ttf	NasuM Regular
NotoSansMonoCJKjp-Bold.otf	Noto Sans Bold
NotoSansMonoCJKjp-Regular.otf	Noto Sans Regular
APJapanesefontHT.ttf	あんずもじ始
azuki.ttf	あずきフォント
azukiB.ttf	あずきフォントB
ipag.ttf	IPAゴシック
naguri.ttf	S2G殴り書き

