aguranilogo-enable	
anniverse-1day	10
anniverse-1enable	on
anniverse-1filename	1538906188_tennohi1.png
anniverse-1value	テンの日１
anniverse-1week	
anniverse-2day	10
anniverse-2enable	on
anniverse-2filename	1538906191_tennohi2.png
anniverse-2value	テンの日２
anniverse-2week	
anniverse-3day	
anniverse-3enable	
anniverse-3filename	
anniverse-3value	
anniverse-3week	
anniverse-4day	
anniverse-4enable	
anniverse-4filename	
anniverse-4value	
anniverse-4week	
anniverse-5day	
anniverse-5enable	
anniverse-5filename	
anniverse-5value	
anniverse-5week	
anniverse-6day	
anniverse-6enable	
anniverse-6filename	
anniverse-6value	
anniverse-6week	
anniverse-7day	
anniverse-7enable	
anniverse-7filename	
anniverse-7value	
anniverse-7week	
anniverse-8day	
anniverse-8enable	
anniverse-8filename	
anniverse-8value	
anniverse-8week	
anniverse-9day	
anniverse-9enable	
anniverse-9filename	
anniverse-9value	
anniverse-9week	
anniverse-bgmorf	on
anniverse-bgmorftype	random
anniverse-enable	on
base-boueigunresourcedir	/data/ledpanel/resource/
base-dwalistfile	./dwaface.txt
base-fontdir	./fonts/
base-icondir	/data/web/root/imagerawdir/
base-imagedir	./image/
base-irdir	/ramdisk/
base-mosaicdir	/data/method/dqxmosaic/cropimage/
base-pukulistfile	./pukuface.txt
base-resourcedir	/data/ledpanel/resource/
base-tokoyamiresourcedir	/data/ledpanel/resource/
base-uploaddir	/data/web/root/uploaddata/
boueigun-enable	on
clock-bgmorf	
clock-bgmorftype	screen
clock-enable	on
endtrans-d1title	中野
endtrans-d1value	23:47
endtrans-d2title	東陽町
endtrans-d2value	00:21
endtrans-d3title	西船橋
endtrans-d3value	00:25
endtrans-d4title	妙典
endtrans-d4value	00:34
endtrans-d5title	東葉勝田台
endtrans-d5value	00:25
endtrans-d6title	
endtrans-d6value	
endtrans-d7title	
endtrans-d7value	
endtrans-d8title	
endtrans-d8value	
endtrans-d9title	
endtrans-d9value	
endtrans-enable	on
endtrans-h1title	中野
endtrans-h1value	00:01
endtrans-h2title	東陽町
endtrans-h2value	00:25
endtrans-h3title	西船橋
endtrans-h3value	00:39
endtrans-h4title	妙典
endtrans-h4value	00:45
endtrans-h5title	東葉勝田台
endtrans-h5value	00:34
endtrans-h6title	
endtrans-h6value	
endtrans-h7title	
endtrans-h7value	
endtrans-h8title	
endtrans-h8value	
endtrans-h9title	
endtrans-h9value	
endtrans-k1title	中野
endtrans-k1value	23:47
endtrans-k2title	東陽町
endtrans-k2value	00:21
endtrans-k3title	西船橋
endtrans-k3value	00:25
endtrans-k4title	妙典
endtrans-k4value	00:34
endtrans-k5title	東葉勝田台
endtrans-k5value	00:25
endtrans-k6title	
endtrans-k6value	
endtrans-k7title	
endtrans-k7value	
endtrans-k8title	
endtrans-k8value	
endtrans-k9title	
endtrans-k9value	
endtrans-starttime	23:15
faceicon-dwaenable	
faceicon-enable	on
faceicon-list10enable	
faceicon-list10name	
faceicon-list11enable	
faceicon-list11name	
faceicon-list12enable	
faceicon-list12name	
faceicon-list13enable	
faceicon-list13name	
faceicon-list14enable	
faceicon-list14name	
faceicon-list15enable	
faceicon-list15name	
faceicon-list16enable	
faceicon-list16name	
faceicon-list17enable	
faceicon-list17name	
faceicon-list18enable	
faceicon-list18name	
faceicon-list19enable	
faceicon-list19name	
faceicon-list1enable	on
faceicon-list1icon	7113
faceicon-list1name	テスト
faceicon-list20enable	
faceicon-list20name	
faceicon-list21enable	
faceicon-list21name	
faceicon-list22enable	
faceicon-list22name	
faceicon-list23enable	
faceicon-list23name	
faceicon-list24enable	
faceicon-list24name	
faceicon-list25enable	
faceicon-list25name	
faceicon-list26enable	
faceicon-list26name	
faceicon-list27enable	
faceicon-list27name	
faceicon-list28enable	
faceicon-list28name	
faceicon-list29enable	
faceicon-list29name	
faceicon-list2enable	on
faceicon-list2icon	4335
faceicon-list2name	ほげ
faceicon-list30enable	
faceicon-list30name	
faceicon-list31enable	
faceicon-list31name	
faceicon-list32enable	
faceicon-list32name	
faceicon-list33enable	
faceicon-list33name	
faceicon-list34enable	
faceicon-list34name	
faceicon-list35enable	
faceicon-list35name	
faceicon-list36enable	
faceicon-list36name	
faceicon-list37enable	
faceicon-list37name	
faceicon-list38enable	
faceicon-list38name	
faceicon-list39enable	
faceicon-list39name	
faceicon-list3enable	on
faceicon-list3icon	11888
faceicon-list3name	てきとう
faceicon-list40enable	
faceicon-list40name	
faceicon-list41enable	
faceicon-list41name	
faceicon-list42enable	
faceicon-list42name	
faceicon-list43enable	
faceicon-list43name	
faceicon-list44enable	
faceicon-list44name	
faceicon-list45enable	
faceicon-list45name	
faceicon-list46enable	
faceicon-list46name	
faceicon-list47enable	
faceicon-list47name	
faceicon-list48enable	
faceicon-list48name	
faceicon-list49enable	
faceicon-list49name	
faceicon-list4enable	on
faceicon-list4icon	14066
faceicon-list4name	漢字もＯＫ
faceicon-list5enable	on
faceicon-list5icon	819
faceicon-list5name	６文字まで
faceicon-list6enable	
faceicon-list6name	ゆうかり
faceicon-list7enable	
faceicon-list7name	
faceicon-list8enable	
faceicon-list8name	
faceicon-list9enable	
faceicon-list9name	
faceicon-listenable	
faceicon-pukuenable	on
freeword-1bgcolor	#0000FF
freeword-1color	#FFFFFF
freeword-1enable	on
freeword-1shadow	on
freeword-1value	毎月１０日は「テンの日」２００円までのドリンクが全て１００円!!酔ってって!!
freeword-2bgcolor	#808000
freeword-2color	#FFFFFF
freeword-2enable	on
freeword-2shadow	on
freeword-2value	Wifi使えます。設定は壁参照！
freeword-3bgcolor	#800000
freeword-3color	#FFFFFF
freeword-3enable	on
freeword-3shadow	on
freeword-3value	赤ホッピーセット３５０円キンミヤ焼酎中身１００円
freeword-4bgcolor	#000000
freeword-4color	#000000
freeword-4enable	
freeword-4shadow	
freeword-4value	
freeword-5bgcolor	#000000
freeword-5color	#000000
freeword-5enable	
freeword-5shadow	
freeword-5value	
freeword-6bgcolor	#000000
freeword-6color	#000000
freeword-6enable	
freeword-6shadow	
freeword-6value	
freeword-7bgcolor	#000000
freeword-7color	#000000
freeword-7enable	
freeword-7shadow	
freeword-7value	
freeword-8bgcolor	#000000
freeword-8color	#000000
freeword-8enable	
freeword-8shadow	
freeword-8value	
freeword-9bgcolor	#000000
freeword-9color	#000000
freeword-9enable	
freeword-9shadow	
freeword-9value	
freeword-enable	on
freeword-value	
ledoption-brightness	50
ledoption-chainlength	4
ledoption-hardwaremapping	regular
ledoption-parallel	1
ledoption-pwmbits	11
ledoption-pwmlsbnanoseconds	130
ledoption-rgbsequence	RGB
ledoption-rows	32
ledoption-slowdowngpio	2
logo-1enable	on
logo-1filename	1538906185_aguranititle.png
logo-1value	あぐらにタイトル
logo-2enable	
logo-2filename	
logo-2value	
logo-3enable	
logo-3filename	
logo-3value	
logo-4enable	
logo-4filename	
logo-4value	
logo-5enable	
logo-5filename	
logo-5value	
logo-6enable	
logo-6filename	
logo-6value	
logo-7enable	
logo-7filename	
logo-7value	
logo-8enable	
logo-8filename	
logo-8value	
logo-9enable	
logo-9filename	
logo-9value	
logo-bgmorf	on
logo-bgmorftype	random
logo-enable	on
remote-enable	on
ten-enable	
tokoyami-enable	on
viewoption-bgmorfspeed	3
viewoption-bgmorftype	random
viewoption-bgmorfwait	0
viewoption-contspeed	0.5
viewoption-fontselect	azukiB.ttf
viewoption-intpriority	high
viewoption-scrollspeed	0.007
viewoption-wipeselect	randomfade
viewoption-wipespeed	0.5
